.DS_Store
log/**/*
log/*.log
tmp/**/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
.*.sw*
.env
.*.env
.cfignore
cf-ssh.yml
.vagrant
.idea/
*profile*

public/stylesheets/application.css*

# expect people to put their own data in /data
data

# another commonly used data directory
real-data

# contains Google API tokens
client_secret.json
