<h2>Data Details</h2>
<div class="category">
  <div class="category__name"> {{ category.name }} </div>
  <div> {{ category.description }} </div>
  <ul class="category__fields">
    <hr/>
    {% for field in category.fields %}
      <li class="category__field">
        <div class="category__field-name"> {{ field }} </div>
        <div> lorem ipsum... (field description placeholder) </div>
        <hr/>
      </li>
    {% endfor %}
  </ul>
</ul>