<section>
  <div class="header">
    <img class="logo" style="float: left" src="https://18f.gsa.gov/assets/images/logo-18f.png">
    <br/>
    <h1 class="title">{{ title }}</h1>
    <div style="clear: both"></div>
  </div>
  </br>
</section>

<h2 class="bottom-margin">Data Details for the <span id="category-name"></span> Category</h2>

<div class="category">
  <div id="category-details" class="category"></div>
  <div id="field-details" class="category"></div>
</div>

<a href="/">Back to the list of Categories</a>

<script>
  var category_details = {{ category_details }} ;
  var dictionary = {{ field_details }} ;
  var category_fields = category_details['fields'] ;
  var oneColumn = "<p>" + category_details.description + "</p>" +
    "<ul class=\"category__fields\">" +
    "<hr/>";
  category_fields.forEach(function (field) {
    var field_description = dictionary[field].description
    oneColumn = oneColumn +
      "<li class=\"category__fields\">" +
        "<div class=\"category__field-name\">" + field + "</div>" +
        "<div>" + field_description + "</div>" +
        "<hr/>" +
      "</li>" +
     "</ul>";
  });
//  alert(oneColumn);
  document.getElementById("category-name").innerHTML = category_details.title;
  document.getElementById("category-details").innerHTML = oneColumn;
  document.getElementById("field-details").innerHTML = field_details;
</script>
