<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js" type="text/javascript"></script>
  </head>
  <body>
    <div id="map" style="height: 100vh"></div>

    <script>
      var kansasCity = new google.maps.LatLng(39.0997, -94.5783);
      var mapOptions = {
        zoom: 3,
        center: kansasCity,
        mapTypeId: google.maps.MapTypeId.DEFAULT
      };
      var map = new google.maps.Map(document.getElementById("map"), mapOptions);

      $.get(
        "/cities",
        {
          per_page: 100
        },
        function(resp) {
          markerMaker(resp.results);
        }
      )

      var bounds = new google.maps.LatLngBounds();
      function markerMaker(cities) {
        cities.forEach(function(city) {
          var lat = city.location.lat;
          var lon = city.location.lon;

          var contentString = '<div id="content">' +
            '<h3>City</h3>' +
            '<p>' + city.name + '</p>' +
            '<h3>State</h3>' +
            '<p>' + city.state + '</p>' +
            '<h3>Population</h3>' +
            '<p>' + city.population + '</p>' +
            '<h3>Land Area</h3>' +
            '<p>' + city.land_area + '</p>' +
            '</div>';
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });

          var latlng = new google.maps.LatLng(lat, lon);
          bounds.extend(latlng);
          var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: city.name
          });

          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        })
      }

      map.fitBounds(bounds);
    </script>
  </body>
</html>
